h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: #048;
    margin-bottom: 1em;
    font-weight: 700;
}

#obrazky h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em;
}

#obrazky2 h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: 500;
    border-bottom: 1px solid white;
    padding-bottom: 0.3em;
}

#prehled img {
    width: 32px;
    height: auto;
}

#nadpis p, #modalUvod .modal-body, #obrazky p, #obrazky2 p, #otazky {
    font-size: 1.1em;
}

#modals .modal-body {
    font-size: 1.2em;
}

#vysledky {
    font-size: 1.5em;
}

#prehled td, .form-control, .zmizeni {
    display: none;
}

#casti-ny h2 {
    margin-top: 25px;
}

#casti-ny a {
    color: white;
}

input {
    margin: 10px;
}

.answers {
    margin-bottom: 20px;
}